<%- include("../pages/header") %>


    
            <h3 class="page-title">   Fomba fampiasana ity logiciel ity
                <small> misaotra mialoha aminy fanarahana ny toromarika !  </small>
            </h3>
            <h3 class="page-title">   tutoriel de l'application de cette logiciel
                <small> merci de votre attention pour la remarque </small>
            </h3>
  
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class=" icon-layers font-green"></i>
                                <span class="caption-subject font-green bold uppercase">Page d'accueil de l'application</span>
                                <div class="caption-desc font-grey-cascade"> vous voyez les element appliquer  <pre class="mt-code">dans cette application</pre> chaque liste avoir des liens </div>
                            </div><br>
                            <pre class="mt-code">liste des client</pre><br>
                            <pre class="mt-code">liste des fournisseur</pre><br>
                            <pre class="mt-code">liste des produits stocks</pre><br>
                            <pre class="mt-code">liste des depenses</pre><br>
                            <pre class="mt-code">liste des informations pour l'historisation</pre><br>
                            <pre class="mt-code">Journale de depense et a recette du jour</pre><br>
                        </div>
                        <div class="portlet-body">
                            <div class="mt-element-overlay">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mt-overlay-1">
                                            <img src="../assets/pages/images.jpg" />
                                            <div class="mt-overlay">
                                                <ul class="mt-info">
                                                    <li>
                                                        <a class="btn default btn-outline" href="javascript:;">
                                                            <i class="icon-magnifier"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="btn default btn-outline" href="javascript:;">
                                                            <i class="icon-link"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class=" icon-layers font-green"></i>
                                <span class="caption-subject font-green bold uppercase">Liste des clients enregistree</span>
                                <div class="caption-desc font-grey-cascade"> il y a un boutton au tete du tableaux colorer bleu et <br> un boutton bleau avec un icon pour la <pre class="mt-code">Modification, et le boutton rouge permet <br> de supprimer un client</pre> cliquer ici pour voir cette page de liste de client </div>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="mt-element-overlay">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mt-overlay-1 mt-scroll-up">
                                            <img src="../assets/pages/img/page_general_search/01.jpg" />
                                            <div class="mt-overlay">
                                                <ul class="mt-info">
                                                    <li>
                                                        <a class="btn default btn-outline" href="javascript:;">
                                                            <i class="icon-magnifier"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="btn default btn-outline" href="javascript:;">
                                                            <i class="icon-link"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class=" icon-layers font-green"></i>
                                <span class="caption-subject font-green bold uppercase">Liste des Fournissers enregistree</span>
                                <div class="caption-desc font-grey-cascade"> il y a un boutton au tete du tableaux colorer bleu et <br> un boutton bleau avec un icon pour la <pre class="mt-code">Modification, et le boutton rouge permet <br> de supprimer un fournisseur</pre> cliquer ici pour voir cette page de liste des fournisseurs </div>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="mt-element-overlay">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mt-overlay-1 mt-scroll-down">
                                            <img src="../assets/pages/img/page_general_search/01.jpg" />
                                            <div class="mt-overlay">
                                                <ul class="mt-info">
                                                    <li>
                                                        <a class="btn default btn-outline" href="javascript:;">
                                                            <i class="icon-magnifier"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="btn default btn-outline" href="javascript:;">
                                                            <i class="icon-link"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class=" icon-layers font-green"></i>
                                <span class="caption-subject font-green bold uppercase">Liste des intrants ou categories enregistree</span>
                                <div class="caption-desc font-grey-cascade"> il y a un boutton au tete du tableaux colorer bleu et <br> un boutton bleau avec un icon pour la <pre class="mt-code">Modification, et le boutton rouge permet <br> de supprimer un intrants ou categorie</pre> cliquer ici pour voir cette page de liste des intrants ou categories </div>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="mt-element-overlay">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mt-overlay-1 mt-scroll-left">
                                            <img src="../assets/pages/img/page_general_search/01.jpg" />
                                            <div class="mt-overlay">
                                                <ul class="mt-info">
                                                    <li>
                                                        <a class="btn default btn-outline" href="javascript:;">
                                                            <i class="icon-magnifier"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="btn default btn-outline" href="javascript:;">
                                                            <i class="icon-link"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class=" icon-layers font-green"></i>
                                <span class="caption-subject font-green bold uppercase">Liste des Produits ou stocks enregistree</span>
                                <div class="caption-desc font-grey-cascade"> il y a un boutton au tete du tableaux colorer bleu et <br> un boutton bleau avec un icon pour la <pre class="mt-code">Modification, et le boutton rouge permet <br> de supprimer un stock</pre> 
                                    <small>Il y a un boutton colorer jaune pour l'exportation en pdf de la liste</small>
                                    <small>Il y a aussi un bar de recherche permet de rechercher un produit a l'instant</small>
                                   <br> cliquer ici pour voir cette page de liste des stoks </div>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="mt-element-overlay">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mt-overlay-1 mt-scroll-right">
                                            <img src="../assets/pages/img/page_general_search/01.jpg" />
                                            <div class="mt-overlay">
                                                <ul class="mt-info">
                                                    <li>
                                                        <a class="btn default btn-outline" href="javascript:;">
                                                            <i class="icon-magnifier"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="btn default btn-outline" href="javascript:;">
                                                            <i class="icon-link"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class=" icon-layers font-green"></i>
                                <span class="caption-subject font-green bold uppercase">Liste des depenses</span>
                                <div class="caption-desc font-grey-cascade"> en tete du tableaux il ya un boutton coloreren bleu <br>
                                    avec un botton permet d'exporter en excel la liste <pre class="mt-code">Leboutton bleu sur le tableau permet de modifier</pre> <br>
                                     et le coleur rouge permet de supprimer d'un liste de depense </div>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="mt-element-overlay">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mt-overlay-2">
                                            <img src="../assets/pages/img/page_general_search/03.jpg" />
                                            <div class="mt-overlay">
                                                <h2>Liste de depense</h2>
                                                <a class="mt-info btn default btn-outline" href="#">Voir cette pages</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class=" icon-layers font-green"></i>
                                <span class="caption-subject font-green bold uppercase">Liste des utilisateurs ou compte</span>
                                <div class="caption-desc font-grey-cascade">Affichage des listes des toutes utilisateur <pre class="mt-code">la seul admin peux voir cette liste</pre> 
                                 </div>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="mt-element-overlay">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mt-overlay-2 mt-overlay-2-grey">
                                            <img src="../assets/pages/img/page_general_search/03.jpg" />
                                            <div class="mt-overlay">
                                                <h2>Gerer l'utilisateur</h2>
                                                <a class="mt-info btn default btn-outline" href="#">Liste d'utilisateur</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class=" icon-layers font-green"></i>
                                <span class="caption-subject font-green bold uppercase">Ajout d'approvisionnement</span>
                                <div class="caption-desc font-grey-cascade"> completer toute les champs <pre class="mt-code">nom fournisseur</pre><br>
                                    <pre class="mt-code">date de l'approvision</pre><br>
                                    <pre class="mt-code">selectionner le produit que vous aller <br> approvisionner</pre><br>
                                    <pre class="mt-code">le quantite que vous aller completer en <br> detail ou gros  </pre><br>
                                    <pre class="mt-code"> le boutton suivant permet de fait plusieur <br> appro</pre><br>
                                    <pre class="mt-code">a la fin de l'appro, cliquer le bouton terminer <br> pour finisais l'appro</pre><br>
                                    voir cette page </div>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="mt-element-overlay">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mt-overlay-2 mt-overlay-2-icons mt-overlay-2-grey">
                                            <img src="../assets/pages/img/page_general_search/03.jpg" />
                                            <div class="mt-overlay">
                                                <h2>Faire une approvisionnement</h2>
                                                <ul class="mt-info">
                                                    <li>
                                                        <a class="btn default btn-outline" href="javascript:;">
                                                            <i class="icon-magnifier"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="btn default btn-outline" href="javascript:;">
                                                            <i class="icon-link"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class=" icon-layers font-green"></i>
                                <span class="caption-subject font-green bold uppercase">Payement de fournisseur</span>
                                <div class="caption-desc font-grey-cascade"> apre l'appro cette logiciel dirige vers la page <br> de payement
                                    <pre class="mt-code">liste de recette avec le somme en ariary</pre>
                                    <pre class="mt-code">completer cette champs pour le date d'echeance <br> et la reste a payer</pre>
                                    
                                    Cette logiciel diriger vers la liste de payement </div>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="mt-element-overlay">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mt-overlay-3">
                                            <img src="../assets/pages/img/page_general_search/05.jpg" />
                                            <div class="mt-overlay">
                                                <h2>commencer a l'approvision</h2>
                                                <a class="mt-info" href="#">Essaier</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class=" icon-layers font-green"></i>
                                <span class="caption-subject font-green bold uppercase">historique de la payement fournisseur</span>
                                <div class="caption-desc font-grey-cascade"> cette liste ordonner par la dernier approvision
                                    <pre class="mt-code">Il y a un reglemenyt de compte</pre>
                                    <pre class="mt-code">suppession et la mise a jour</pre>
                                     Liste de historique de payement </div>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="mt-element-overlay">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mt-overlay-3 mt-overlay-3-icons">
                                            <img src="../assets/pages/img/page_general_search/05.jpg" />
                                            <div class="mt-overlay">
                                                <h2>Historique payement appro</h2>
                                                <ul class="mt-info">
                                                    <li>
                                                        <a class="btn default btn-outline" href="javascript:;">
                                                            <i class="icon-magnifier"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="btn default btn-outline" href="javascript:;">
                                                            <i class="icon-link"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class=" icon-layers font-green"></i>
                                <span class="caption-subject font-green bold uppercase">Commande client</span>
                                <div class="caption-desc font-grey-cascade"> Toutes les champs doit etre obligatoire a remplir 
                                    <pre class="mt-code">selectionner le nom de client</pre>
                                    <pre class="mt-code">le date de commande avec le type de payement</pre>
                                    <pre class="mt-code">selectionner le  nom de produit</pre>
                                    <pre class="mt-code">le quantite a commander</pre>
                                    <pre class="mt-code">cliquer sur suivant s le produit et plusieur</pre>
                                    <pre class="mt-code">a la fin de la commande met le remise si avoir </pre>
                                     si le commande et finis,cliquer le boutton terminer </div>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="mt-element-overlay">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mt-overlay-4">
                                            <img src="../assets/pages/img/page_general_search/06.jpg" />
                                            <div class="mt-overlay">
                                                <h2>Commande client</h2>
                                                <a class="mt-info btn default btn-outline" href="#">Ajout commande</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class=" icon-layers font-green"></i>
                                <span class="caption-subject font-green bold uppercase">Payement des clients</span>
                                <div class="caption-desc font-grey-cascade"> toutes les champs doit etre obligatoire a remplir 
                                    <pre class="mt-code">le date de payement et le date d'echeance</pre>
                                     le logiciel dirige vers le historique de payement </div>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="mt-element-overlay">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mt-overlay-4 mt-overlay-4-icons">
                                            <img src="../assets/pages/img/page_general_search/06.jpg" />
                                            <div class="mt-overlay">
                                                <h2>Commencer cette echeance de commande client </h2>
                                                <ul class="mt-info">
                                                    <li>
                                                        <a class="btn default btn-outline" href="javascript:;">
                                                            <i class="icon-magnifier"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="btn default btn-outline" href="javascript:;">
                                                            <i class="icon-link"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class=" icon-layers font-green"></i>
                                <span class="caption-subject font-green bold uppercase">Historique payement</span>
                                <div class="caption-desc font-grey-cascade"> le dernier commande et le commande le 1er de la liste
                                    <pre class="mt-code">il y a 3 boutton</pre>
                                    <pre class="mt-code">la reglement de la reste a payer</pre>
                                    <pre class="mt-code">la suppression de la payement</pre>
                                    <pre class="mt-code">la facturation avec la reccette complet</pre>
                                      Capable d'exporter en EXCEL cette liste </div>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="mt-element-overlay">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mt-overlay-5">
                                            <img src="../assets/pages/img/background/12.jpg" />
                                            <div class="mt-overlay">
                                                <h2>Voir cette liste de historique de payement</h2>
                                                <p>
                                                    <a class="uppercase" href="#">Historique finance</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class=" icon-layers font-green"></i>
                                <span class="caption-subject font-green bold uppercase">Journal</span>
                                <div class="caption-desc font-grey-cascade"> Il y a 5 lien pour la page de journal 
                                    <pre class="mt-code">Reccette du jour,comparer entre 2 date different</pre>
                                    <pre class="mt-code">Recette de l'approvisionnement entre 2 date</pre>
                                    <pre class="mt-code">Recette du depense entre 2 date</pre>
                                    <pre class="mt-code">liste de client avoir des reste a payer</pre>
                                    <pre class="mt-code">.Liste produit besoin d'approvion, <br> inferieur ou egal a 20 </pre>
                                     Voir cette page. </div>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="mt-element-overlay">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mt-overlay-6">
                                            <img src="../assets/pages/img/page_general_search/3.jpg" />
                                            <div class="mt-overlay">
                                                <h2>Voir cette pages</h2>
                                                <p>
                                                    <a class="mt-info uppercase btn default btn-outline" href="#">Journal</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class=" icon-layers font-green"></i>
                                <span class="caption-subject font-green bold uppercase">Explication de calcul du stock</span>
                                <div class="caption-desc font-grey-cascade"> 
                                    <pre class="mt-code">Exemple = biscuit,1 carton avoir 20 piece</pre>
                                    <pre class="mt-code">Presentationt 1 piece</pre>
                                    <pre class="mt-code">Par presentatio ou conditionement 1 carton</pre>
                                    <pre class="mt-code">1 piece= 200 ariary =>presentation</pre>
                                    <pre class="mt-code">1 carton = 20000 ariary=>par presentation ou <br> conditionnement</pre>
                                    <pre class="mt-code">le par presentation obligatoire de remplir <br> au moin 1 </pre>
                                     Voir cette page. </div>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="mt-element-overlay">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mt-overlay-6">
                                            <img src="../assets/pages/img/page_general_search/3.jpg" />
                                            <div class="mt-overlay">
                                                <h2>Voir cette pages</h2>
                                                <p>
                                                    <a class="mt-info uppercase btn default btn-outline" href="#">Journal</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class=" icon-layers font-green"></i>
                                <span class="caption-subject font-green bold uppercase">Deconnection ou Login</span>
                                <div class="caption-desc font-grey-cascade"> Chaque utilisateur avoir un mot de passe 
                                     Voir cette page. </div>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="mt-element-overlay">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mt-overlay-6">
                                            <img src="../assets/pages/img/page_general_search/3.jpg" />
                                            <div class="mt-overlay">
                                                <h2>Voir cette pages</h2>
                                                <p>
                                                    <a class="mt-info uppercase btn default btn-outline" href="#">Login</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      





<%- include("../pages/footer") %>
